# Core functionality - changes here should be rare!
/src/app.py                   @Anthonykamau99
/src/backend/database.py      @Anthonykamau99
/src/backend/routers/auth.py  @Anthonykamau99

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Anthonykamau99
